{% extends "includes/base_template.html" %}
{% block title %}StressBook {% endblock %}

{% block head %}
{% endblock %}

{% block body %}



<main class="container-fluid p-0">
    <!-- Background image -->
    <div class="bg-image d-flex flex-column justify-content-center align-items-center" style="background-image: url('static/images/home_page_banner.png');height: 500px;">
            <h1 class="text-white pop_semi_bold m-0 home_caption text-center" >Welcome To StressBook</h1>
            <p class="text-white text-center">We Are Trying To Offer The Best Booking Experience , View Our Results By Clicking The Button</p>
            <a href="/dashboard" class="btn text-white get-started-btn mt-1">
            View Dashboard
            </a>
    </div>
    



</div>
</main>

{% endblock %}